.descriptionNetwork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 288px;
    text-align: center;
    height: 100%;
    gap: 16px;
}

.descriptionNetwork p{
    color: #2c398d;
}

.bg-color-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section{
    position: relative;
    padding: 40px 20px;
    height: 491px;
    background-attachment: fixed !important;
    background-size: cover !important;
}

p{
    font-family: 'Work Sans', sans-serif;
}

.grid-networks{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(1, 190px);
}

.box-social{
    background: #46549c;
    border: 10px solid #e7f7fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-social img{
    width: 57px;
    height: 57px;
}

.box-social p{
    color: #fff;
}

@media screen and (max-width: 978px) {
    .grid-networks{
        grid-template-columns: 300px;
    }

    .description{
        padding: 0;
    }

    .section{
        height: 672px;
    }

    .colSearch{
        width: 90% !important;
        overflow: initial;
    }
}

