.box-container {
    height: 500px;
    background-image: url("https://static.wixstatic.com/media/c86aa8_19e4d7b13e704d5e94e25ed56ded56cc~mv2.jpg/v1/fill/w_958,h_610,al_c,q_85,enc_auto/c86aa8_19e4d7b13e704d5e94e25ed56ded56cc~mv2.jpg");
    background-attachment: fixed !important;
    background-size: cover !important;
}

.titleProvider{
    display: flex;
    justify-content: center;
    padding-top: 78px;
    color: white;
}

.boxingProviders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: -40px 20%;
    height: 500px;
}

 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
}

.content img{
    width: 80%;
}
