
.sectionContact{
    background-image: url(https://static.wixstatic.com/media/c86aa8_19e4d7b13e704d5e94e25ed56ded56cc~mv2.jpg/v1/fill/w_958,h_610,al_c,q_85,enc_auto/c86aa8_19e4d7b13e704d5e94e25ed56ded56cc~mv2.jpg);
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
  
}

.bg-color-contact {
    background-color: #3ba791cc;
    height: 100vh;
    width: 100%;
    position: relative;

}

.rowMap{
  height: 40%;
  display: flex;
  margin: 10px 0px;
  position: relative;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.rowInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90%;
    position: relative;
    margin: 50px 50px;
    gap: 30px;
}

.colMap{
    height: 90%;
}

.colSearch{
    width: 50%;
    max-height: 90%;
    margin-top: 10px;
    overflow-y: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.imgContact{
    display: flex;
    width: 60%;
}
                				

