.box-container {
    height: 500px;
    background-image: url("https://static.wixstatic.com/media/c86aa8_19e4d7b13e704d5e94e25ed56ded56cc~mv2.jpg/v1/fill/w_958,h_610,al_c,q_85,enc_auto/c86aa8_19e4d7b13e704d5e94e25ed56ded56cc~mv2.jpg");
    background-attachment: fixed !important;
    background-size: cover !important;
}

.boxing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    margin: 0 20%;
    height: 500px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px;
}

.content-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
}