.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 288px;
    text-align: center;
    height: 100%;
    gap: 16px;
}

.bg-color-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section{
    position: relative;
    padding: 40px 20px;
    height: 491px;
    background-attachment: fixed !important;
    background-size: cover !important;
}

p{
    font-family: 'Work Sans', sans-serif;
}

